*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  
}
body{
  background: url('https://raw.githubusercontent.com/nephente1/TODO-list/master/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

h2{
  -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
  font-size:28px;
  font-weight:600;
  letter-spacing:3px;
  text-align: center;
}
#main{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height:auto;
  width:50vw;
  margin:10vh auto;
  padding:30px 30px;
  flex-direction:column;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 5px;
}

@media(max-width:720px){
  #main{
  width:95vw;
  }
}

input{
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  border: 0px solid silver;
  padding: 5px 10px;
  width:300px;
  margin:10px 0px;
  font-size: 18px;
  
}
#todoList{
  margin-bottom:20px;
}

#todoList li{
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  padding:7px 15px;
  margin: 7px 0px;
  list-style: none;
  font-size: 18px;
  border-radius: 6px;
}

#finished li{
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  padding:7px 15px;
  margin: 7px 0px;
  list-style: none;
  font-size: 18px;
  border-radius: 6px;
}

@media(max-width:720px){
  input,#todoList li, #finished li, h2,.fas{
  font-size:26px;
  }
}

.checked{
  text-decoration: line-through;
}

.fas{
  color: white;
  padding:5px;
  text-align: right;
}
.fa-plus-circle{
  padding: 10px 10px 10px 10px;
}
#addBtn{
  background: #22c927;
  margin:0px;
  font-size: 18px;
}

#container2 button:first-of-type{
  margin-left: 30px;
}

button {
  border:none;
  margin: 0px 2px;
  background: dodgerblue;
  color: white;
}

button .fa-minus-circle{
  background: red;
}
button .fa-check-circle{
  background: #22c927;
}
button .fa-arrow-circle-up, button .fa-edit, button .fa-check-square{
  background: dodgerblue;
}
#addBtn:hover{
  background:#6a4d8f;
}

button:hover{
  background:#6a4d8f;
}

button .fa-check-circle:hover{
  background:#6a4d8f;
}

button .fas fa-edit::after{
   content: 'edycja';
}
